body, .hero-body{
    background-image: url(./images/background.jpg);
    background-attachment: fixed;
    
}

.navbar-item img {
    padding-right: 1rem;
    padding-left: .5rem;
    max-height: 2.5rem;
}

.navbar-end {
    padding-right:2rem;;
}

.normalTitle {
    color: #d1f2ff;
}

.boldTitle{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.navbar {
    min-height: 4rem;
}

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
}

.container h2{
    background-color: rgba(255, 255, 255, .70);
  }

  .container p{
    background-color: rgba(255, 255, 255, .70);
  }